# Heros Of Pymoli

After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. The assigned  task is to analyze the data for their most recent fantasy game Heroes of Pymoli. 

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

As the first step, the needed packages as imported. Since data file is json, we need to import json package .

In [54]:
import pandas as pd
import os
import json

The data is provided in two JSON files. purchase_data.json and purchas_data2.json. Read the files using read_csv function from pandas. Let's define a user defined function to do it. The function reading_file takes filePath, variable which is a string as argument and returns a DataFrame object , which contains the data from .json file

In [55]:
#define the function to read json file, path of which is passed as argument
def reading_File(filePath):
    with open(filePath) as datafile:
        #loads the file into data
        data = json.load(datafile)
    #create the dataframe object 
    purchas_Data_Reader = pd.DataFrame(data)
    #return the dataframe object
    return purchas_Data_Reader

In [56]:
purchase_Data_Reader=reading_File(os.path.join("raw_data","purchase_data2.json"))
purchase_Data_Reader.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

Now let's examine whether any null values are present in the data. Dataframe.isnull.any function returns false if there is no null value . It returns true if there is null values in columns


## Total Players

In [113]:
def players_count():
    #counts number of players
    total_Players=purchase_Data_Reader["Gender"].count()
    #add to dataframe
    tot_players_df=pd.DataFrame({"Total Players":[total_Players]})
    #return df
    return tot_players_df

In [114]:
total_players=players_count()
total_players

   Total Players
0             78

## Purchase Analysis Total

In [101]:
# Calculates the totals and returns the df
def total_analysis():
    total_list=[]
    # get the unique itens by ITEM ID
    unique_items=purchase_Data_Reader["Item ID"].unique()[0]
    # calculate average purchase price
    avg_Purchase_Price=purchase_Data_Reader["Price"].sum()/unique_items
    #calulate total items purchased
    total_Purchases=purchase_Data_Reader["Price"].count()
    # calculate total revenue from price
    total_revenue=purchase_Data_Reader["Price"].sum()
    # append to the list
    total_list.append([unique_items,avg_Purchase_Price,total_Purchases,total_revenue])
    # create the df
    total_df=pd.DataFrame(total_list,columns=["No.of Unique Items","Average Price","No.of Purchases","Total Revenue"])
    # return the df
    return total_df

In [102]:
total_analysis_df=total_analysis()
total_analysis_df

   No.of Unique Items  Average Price  No.of Purchases  Total Revenue
0                  93       2.452688               78          228.1

## <li><u><i>Gender Demographics</i></u>

#### Calculate:
<ol>
    <li>Percentage and Count of Male Players
    <li>Percentage and Count of Female Players
    <li>Percentage and Count of Other / Non-Disclosed
</ol>

In [103]:
def gender_total():
    # calculates the % of each players
    gender_total_df=purchase_Data_Reader["Gender"].unique()
    # counts the unique players
    count_unique_Players=purchase_Data_Reader["Gender"].count()
    gender_total_list=[]
    # for each gender , calculate the % and counts
    for each in gender_total_df:
        rows=purchase_Data_Reader.loc[purchase_Data_Reader["Gender"]==each]
        counts=rows["Gender"].count()
        percentPlayers=round((counts/count_unique_Players)*100,2)
        # append to list
        gender_total_list.append([each,percentPlayers,counts])
    #return the df
    gender_df=pd.DataFrame(gender_total_list,columns=["Gender","Percentage Players", "Total Count"])
    return gender_df

In [104]:
total_Gender=gender_total()
total_Gender.head()

                  Gender  Percentage Players  Total Count
0                   Male               82.05           64
1                 Female               16.67           13
2  Other / Non-Disclosed                1.28            1

 ##  <li><u><i>Purchasing Analysis (Gender) </i></u>

#### Calculate the following broken by Gender:
<ol>
    
       <li> Purchase Count= total no.of purchase by each gender</li>
        <li>Average Purchase Price=total purchase / purchase count</li>
        <li>Total Purchase Value=sum of total values by gender</li>
        <li>Normalized Totals</li>
</ol>

In [86]:
def gender_Analysis():
    # runs the gender based analysis on data
    # find the unique gender in the data
    gender_group_df=purchase_Data_Reader["Gender"].unique()
    gender_list=[]
    # for all gender types, calculates the analysis
    for gender in gender_group_df:
        rows=purchase_Data_Reader.loc[purchase_Data_Reader["Gender"]==gender]
        Purchase=rows["Item ID"].count()
        avgPurchases=rows["Price"].sum()/Purchase
        total_purchase_Values=rows["Price"].sum()
        normalized=total_purchase_Values/Purchase
        # append to list
        gender_list.append([gender,Purchase,avgPurchases,total_purchase_Values,normalized])
    # return df
    gender_df=pd.DataFrame(gender_list,columns=["Gender","Purchase Count", "Average Purchase Price","Total Purchase Value","Normalized Totals"])
    return gender_df

In [87]:
gender_Analyis=gender_Analysis()
gender_Analyis

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,Male,64,2.884375,184.60,2.884375
1,Female,13,3.183077,41.38,3.183077
2,Other / Non-Disclosed,1,2.120000,2.12,2.120000

##  <li><u><i>Age Demographics </i></u>

#### Calculate the below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
    -Purchase Count
    -Average Purchase Price
    -Total Purchase Value
    -Normalized Totals

In [70]:
#create the bins
bins = [0,10, 14, 19, 24, 29,34,39,44]
# Create the names for the four bins
year_labels = ['<10', '10-14', '15-19', '20-25','25-29','30-34','35-39','40-44']
purchase_Data_Reader["Age Group"] = pd.cut(purchase_Data_Reader["Age"],bins,labels=year_labels)
purchase_Data_Reader["Age Group"].unique()

[20-25, 15-19, <10, 40-44, 25-29, 35-39, 30-34, 10-14]
Categories (8, object): [<10 < 10-14 < 15-19 < 20-25 < 25-29 < 30-34 < 35-39 < 40-44]

In [71]:
 def age_group(criteria):
    # criteria is the column based on which the grouping has to be done
    group_df=purchase_Data_Reader[criteria].unique()
    group_list=[]
    for item in group_df:
        #for the criteria values in the list retrieve required fields from df
        age_df = purchase_Data_Reader[purchase_Data_Reader[criteria] == item]
        purchase_count=age_df["Item ID"].count()
        purchase_price=age_df["Price"].sum()/purchase_count
        total_price=age_df["Price"].sum()
        normal_total=total_price/purchase_count
       
        group_list.append([item,purchase_count,purchase_price,total_price,normal_total])
    #create df based on list and return df
    age_group_df=pd.DataFrame(group_list,columns=[criteria+' Range','Purchase Count','Average PRICE','Total Price','Normalized Total'])
    return age_group_df

In [72]:
age_df=age_group("Age Group")
age_df=age_df.dropna(how="any")
age_df

,Age Group Range,Purchase Count,Average PRICE,Total Price,Normalized Total
0,20-25,36,3.024722,108.89,3.024722
1,15-19,11,2.764545,30.41,2.764545
2,<10,5,2.764000,13.82,2.764000
3,40-44,1,4.650000,4.65,4.650000
4,25-29,9,2.901111,26.11,2.901111
5,35-39,6,3.561667,21.37,3.561667
6,30-34,7,1.984286,13.89,1.984286
7,10-14,3,2.986667,8.96,2.986667

## Top Spenders

In [73]:
def analysis_final(purchase_Data_Reader,criteria,aggregate_Val):
    # calculates the top spender based on criteria and value. Here it is username and price
    #group based on SN
    top_spend=purchase_Data_Reader.groupby([criteria],as_index=False)
    #retrieves the top 5 values
    top_Purchase=top_spend[aggregate_Val].sum().nlargest(5,aggregate_Val)
    # convert the df to list
    top_purchase_list=list(top_Purchase[criteria])
    spend_each_list=[] 
    spend_total_list=[]
    # calculate the values for each value in list
    for each in top_purchase_list:
        each_top_df = purchase_Data_Reader[purchase_Data_Reader["SN"] == each]
        purchase_count = each_top_df["Item ID"].count()
        purchase_sum=each_top_df[aggregate_Val].sum()
        avg_purchase_price=round((purchase_sum/purchase_count),2)
        #append to the list
        spend_each_list.append([each,purchase_count,avg_purchase_price,purchase_sum])
    # return the df
    df=pd.DataFrame(spend_each_list,columns=['SN','Purchase Count','Avg Purchase Price','Total Purchase'])
    return(df)

In [74]:
new_data=analysis_final(purchase_Data_Reader,"SN","Price")
new_data

           SN  Purchase Count  Avg Purchase Price  Total Purchase
0   Sundaky74               2                3.70            7.41
1   Aidaira26               2                2.56            5.13
2     Eusty71               1                4.81            4.81
3  Chanirra64               1                4.78            4.78
4    Alarap40               1                4.71            4.71

## Popular and Profitable Items

In [75]:
def purchase_count():
    #returns a df with Item details, purchase counts, and total price
    purchase=purchase_Data_Reader["Item ID"].unique()
    purchase_list=[]
    #for each school retrieve values
    for item in purchase:
        p_count = purchase_Data_Reader[purchase_Data_Reader["Item ID"] == item]
        purchase_count=p_count["Item ID"].count()
        purchase_name=p_count["Item Name"].unique()[0]
        itemPrice=p_count["Price"].unique()[0]
        totalValue=p_count["Price"].sum()
        # append to list
        purchase_list.append([item,purchase_count,purchase_name,itemPrice,totalValue])
        #create df
        pc_df=pd.DataFrame(purchase_list,columns=["Item ID","Purchase Count",'Item Name',"Price",'Total Purchase Value'])
    #returns df
    return pc_df

### Most Popular Items

In [76]:
purchase_df=purchase_count()
# create the df by calling function and sort based on Purchase count
purchase_df=purchase_df.sort_values("Purchase Count",ascending=False)
purchase_df.head()

,Item ID,Purchase Count,Item Name,Price,Total Purchase Value
15,94,3,Mourning Blade,3.64,10.92
0,93,2,Apocalyptic Battlescythe,4.49,8.98
10,126,2,Exiled Mithril Longsword,1.08,2.16
39,64,2,Fusion Pummel,2.42,4.84
33,108,2,"Extraction, Quickblade Of Trembling Hands",2.26,4.52

### Most Profitable Items

In [77]:
total_purchase=purchase_count()
# create the df by calling function and sort based on Total Purchase Value
total_purchase=total_purchase.sort_values("Total Purchase Value",ascending=False)
total_purchase.head()

,Item ID,Purchase Count,Item Name,Price,Total Purchase Value
15,94,3,Mourning Blade,3.64,10.92
26,117,2,"Heartstriker, Legacy of the Light",4.71,9.42
0,93,2,Apocalyptic Battlescythe,4.49,8.98
12,90,2,Betrayer,4.12,8.24
4,154,2,Feral Katana,4.11,8.22